.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  list-style: none;
  padding: 0;
}
.item {
  padding: 25px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
